{% extends 'base.html.twig' %}

{% block title %}My Account | Ecommerce{% endblock %}

{% block body %}
    <div class="max-w-screen-2xl mx-auto px-5 pt-16 space-y-12">
        <div class="w-full flex items-center justify-between">
            <h1 class="text-5xl font-semibold text-slate-900">My Account</h1>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a
                href="{{ path('app_admin_index') }}"
                class="border border-slate-200 bg-slate-100 hover:bg-slate-200 text-slate-700 text-slate-900
                   transition-colors duration-200 px-3 py-2 rounded-md"
            >
                Admin Dashboard
            </a>
            {% endif %}
        </div>
        <hr>

        <div class="flex justify-between gap-6">
            <div class="space-y-6 p-7 rounded-lg bg-white shrink-0">
                <h2 class="text-3xl font-semibold text-slate-700">
                    Personal information
                </h2>
                <div class="space-y-4">
                    <div>
                        <label class="text-sm text-slate-600">Name</label>
                        <p class="text-slate-900 text-lg">{{ app.user.firstName }} {{ app.user.lastName }}</p>
                    </div>
                    <div>
                        <label class="text-sm text-slate-600">Email</label>
                        <p class="text-slate-900 text-lg">{{ app.user.email }}</p>
                    </div>
                </div>
                {% include './account/_edit_form.html.twig' %}
            </div>
            {% include "./account/active_cart.html.twig" %}
        </div>
        {% include "./account/shopping_history.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/edit-profile.js') }}"></script>
{% endblock %}