{% extends 'base.html.twig' %}

{% block title %}Nos produits - Ecommerce{% endblock %}

{% block body %}
	<div class="flex flex-col gap-10 mx-auto max-w-screen-2xl w-full mt-32 px-5">
		<div class="w-full flex justify-between">
			<div>
				<h1 class="text-3xl font-semibold mb-2">
					Liste des produits
				</h1>
				<p class="text-slate-600">
					{{ products|length }}{{ products|length > 1 ? " produits trouvés" : " produit trouvé" }}
				</p>
			</div>
			{% if is_granted("ROLE_ADMIN") or is_granted('ROLE_SUPER_ADMIN') %}
				{% include "./product/_form.html.twig" %}
			{% endif %}
		</div>
		<div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-x-4 gap-y-8 w-full">
			{% for p in products %}
				<a href="{{ path("app_product_show", {id: p.id}) }}" class="group space-y-2 cursor-pointer relative">
					<div class="w-full aspect-square overflow-hidden bg-slate-300 rounded-lg">
						{% if p.image is not empty %}
							<img
								src="{{ asset('uploads/' ~ p.image) }}"
								alt="product image"
								class="w-full h-full object-cover group-hover:scale-110 transition-transform
									duration-200"
							>
						{% endif %}
					</div>
					<p class="text-xl lg:text-2xl font-medium text-slate-950">
						{{p.title}}
					</p>
				</a>
			{% else %}
				<p>Aucun produit</p>
			{% endfor %}
		</div>

	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/create-product.js') }}"></script>
{% endblock %}
