{% extends "base.html.twig" %}

{% block body %}
    <div class="w-full max-w-screen-2xl mx-auto px-5 pt-16">
        <div class="flex items-center justify-between mb-6">
            <a
                href="{{ path('app_product') }}"
                class="text-slate-500 hover:text-slate-600 hover:bg-slate-100 transition-colors inline-flex items-center
                 gap-2 px-3 py-1 rounded-md text-lg"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="lucide lucide-chevron-left">
                    <path d="m15 18-6-6 6-6"/>
                </svg>
                Go back to list
            </a>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                <div class="flex items-center gap-2">
                    {% include './product/_edit_form.html.twig' %}
                    {% include './product/_delete_form.html.twig' %}
                </div>
            {% endif %}
        </div>
        <div class="flex flex-col md:flex-row gap-10">
            <div class="max-w-screen-sm w-full aspect-square overflow-hidden rounded-lg">
                <img
                    src="/uploads/{{ product.image }}"
                    alt="{{ product.title}} image"
                    class="w-full h-full object-cover"
                >
            </div>
            <div class="w-full pt-5">
                <div class="flex flex-col gap-10">
                    <div class="w-full flex items-center justify-between gap-3">
                        <h1 class="text-4xl font-semibold">
                            {{ product.title }}
                        </h1>
                        <p class="text-3xl sm:text-5xl xl:text-6xl font-semibold">
                            {{ product.price > 0 ? product.price ~ "€" : "Free" }}
                        </p>
                    </div>
                    <p>
                        {{ product.content }}
                    </p>
                    <div>
                        {% if app.user is not null  %}
                            <form action="{{ path('app_cart_add', {id: product.id}) }}" method="post">
                                <button
                                    type="submit"
                                    class="w-full flex justify-center items-center gap-4 py-2.5 px-4 rounded-md text-slate-50
                                    bg-slate-900 hover:bg-slate-800 focus:outline-none focus:ring-2 focus:ring-offset-2
                                    focus:ring-slate-500 transition-all duration-200"
                                >
                                    <span>
                                        Add to cart
                                    </span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart"><circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/></svg>
                                </button>
                            </form>
                        {% else %}
                        <a
                            href="{{ path('app_login') }}"
                            class="w-full flex justify-center items-center gap-4 py-2.5 px-4 rounded-md text-slate-50
                            bg-slate-900 hover:bg-slate-800 focus:outline-none focus:ring-2 focus:ring-offset-2
                            focus:ring-slate-500 transition-all duration-200"
                        >
                            Login to continue shopping
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/edit-product.js') }}"></script>
{% endblock %}